## Multiple linear regression

 Multiple Linear Regression is an extension of Simple Linear regression as it takes more than one predictor variable to predict the response variable. We can define it as:
 * Multiple Linear Regression is one of the important regression algorithms which models the linear relationship between a single dependent continuous variable and more than one independent variable

In [1]:
import pandas as pd # read file
import numpy as np # mathematical calculation

In [2]:
df = pd.read_csv("Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [3]:
df.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [4]:
x = df.iloc[: , 1:4] 
y = df["sales"]

In [5]:
x.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [6]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [7]:
## splitting the data into train test 
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(x , y , test_size =0.20 , random_state = 34 )

In [8]:
X_train.shape

(160, 3)

In [9]:
X_test.shape

(40, 3)

In [10]:
x.shape

(200, 3)

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#lr.fit(np.array(X_train).reshape(-1 , 1) , y_train)
lr.fit(X_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
from sklearn.metrics import r2_score
y_pred = lr.predict(X_test)
score = r2_score(y_test , y_pred)

In [13]:
score

0.8925087896627704

#### Prediction On training data

In [14]:
y_pred_train = lr.predict(X_train)
score_train = r2_score(y_train , y_pred_train)
score_train

0.8970495535067476

In [15]:
adjusted_R = 1 - ((1 -score  )* (len(X_test) - 1) / (len(X_test) - len(X_test.columns)-1))
adjusted_R

0.8835511888013345

In [16]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lr, X_train, y_train, cv=10)
scores.mean()

0.8669545184367917

In [17]:
y = lr.predict([[234 , 678 , 76]])

In [18]:
y

array([144.72407986])

In [19]:
score - adjusted_R

0.008957600861435822